<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil de Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../assets/perfil.webp" style="height: 200px;"></ion-img>
    <ion-card-header>
      <ion-card-title>Arnau</ion-card-title>
      <ion-card-subtitle>Hola soy Arnau y he hecho este proyecto para ti Marta.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-text>Arnau</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-text>john.doe@example.com</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Teléfono:</ion-label>
          <ion-text>+123456789</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>